@{
    ViewData["Title"] = "Početna stranica";
}

<div class="text-center">
    <h1 class="display-4">Dobro došli na našu aplikaciju za filmove</h1>
    <p> <img width="962" height="463" src="~/slike/filmovi.jpg" />  </p>
</div>
